<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=gb2312">
<TITLE>
添加自定在marker
</TITLE>
<META NAME="date" CONTENT="2016-12-26">
</HEAD>
<BODY BGCOLOR="white";">
<TABLE BORDER="0" WIDTH="100%" CELLPADDING="1" CELLSPACING="0" SUMMARY="">
<TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">   <FONT CLASS="NavBarFont1">&nbsp;<B>添加自定在marker</B></FONT>&nbsp;</TD>
</TABLE>
<p>
private View addView() {
	// TODO 动态添加布局(java方式)
	LinearLayout.LayoutParams lp = new LinearLayout.LayoutParams(
			LayoutParams.WRAP_CONTENT, LayoutParams.WRAP_CONTENT);
	LinearLayout view = new LinearLayout(this);
	view.setLayoutParams(lp);// 设置布局参数
	view.setGravity(Gravity.CENTER_HORIZONTAL);
	view.setPadding(0, 3, 0, 0);
	view.setOrientation(LinearLayout.HORIZONTAL);// 设置子View的Linearlayout对齐方式
	// 定义子View中元素的布局
	ViewGroup.LayoutParams vlp = new ViewGroup.LayoutParams(
			ViewGroup.LayoutParams.WRAP_CONTENT,
			ViewGroup.LayoutParams.WRAP_CONTENT);

	TextView tv1 = new TextView(this);
	tv1.setLayoutParams(vlp);// 设置TextView的布局
	tv1.setText("99+");
	tv1.setTextSize(12);
	tv1.setTextColor(getResources().getColor(R.color.green_weixin));
	view.setBackgroundResource(R.drawable.pp_green_parkno_checked);
	view.addView(tv1);// 将TextView 添加到子View 中
	return view;
}
</p>
</BODY>
</HTML>
