<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=gb2312">
<TITLE>
注释
</TITLE>
<META NAME="date" CONTENT="2016-12-26">
</HEAD>
<BODY BGCOLOR="white";">
<TABLE BORDER="0" WIDTH="100%" CELLPADDING="1" CELLSPACING="0" SUMMARY="">
<TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">   <FONT CLASS="NavBarFont1">&nbsp;<B>注释设置</B></FONT>&nbsp;</TD>
</TABLE>
<p>
<!--注释模板-->
<a href="http://blog.csdn.net/tanghongchang123/article/details/51657355">Android Studio注释设置</a>
</p>
</BODY>
</HTML>
